/* IMPOSTAZIONI GENERALI */

body {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    background-image: url('/assets/img/sfondo.png');
}

.h1 {
    font-weight: bold;
    font-size: 2em;
}

.h3 {
    font-weight: bold;
    font-size: 1.20em;
}

/* SEZIONE HEADER */

#header {
    background-color: #007a99;
    width: 30vw;
    margin: 0 auto;
    margin-top: 20px;
    padding: 25px;
    text-align: center;
    line-height: 30px;
    color: white;
}

#img-1 {
    max-width: 100%;
}

#first-ul {
    list-style: none;
}



/* MAIN */

#main {
    background-color: white;
    width: 30vw;
    margin: 0 auto;
    margin-top: 20px;
    padding: 25px;
}


/* ELEMENTI NEL MAIN*/

/* ARTICLE-1 */

#article-1 {
    padding: 25px;
    line-height: 30px;
}

#article-1 > h1 {
    max-width: 100%;
}


/* ARTICLE-2 */

#article-2 {
    padding: 25px;
    line-height: 30px;
}

.span-1 {
    background-color: lightgrey;
}


/* ARTICLE-3 */

#article-3 {
    padding: 25px;
    line-height: 30px;
    margin-bottom: 5px;
}

#span-2 {
    color: rgb(136, 32, 136);
}


/* DIV-EM */

#div-em {
    text-align: center;
}

#em {
    font-weight: bold;
    font-size: 1.20em;
    
}


/* TABELLE + ARTICLE-4 */

#article-4 {
    background-color: lightblue;
    line-height: 20px;
}

.table-row {
    background-color: lightgrey;
}

.th {
    background-color: #0056c0;
}

#table td, tr {
    padding: 8px;
    text-align: center;
}

#iframe-yt {
    max-width: 100%;
}


/* hr blue */

#hr-1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: blue;
}


/* ARTICLE-5 */

#article-5 {
    margin-top: 10px;
    line-height: 20px;
}


/* FORM */

/* ELEMENTI NELL' ASIDE */

#h3-aside {
    font-weight: bold;
    font-size: 1.20em;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.div-aside {
    background-color: lightgrey;
    margin-bottom: 20px;
    padding: 30px;
    line-height: 20px;
}
/* FOOTER */
